.weddingProcessContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 50rem;
  padding-bottom: 10rem;
}

.weddingProcessContainer .backgroundImage {
  width: 100%;
  height: 40rem;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/wedding/weddingProcess/image1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.weddingProcessContainer .backgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.weddingProcessContainer .header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30rem;
  left: 0;
  width: 100%;
}

.weddingProcessContainer .header::before {
  content: "";
  width: 30rem;
  height: 0.1rem;
  background-color: white;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.weddingProcessContainer .header h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* ---------------Wedding Process----------- */

.we-boxContainer {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.we-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
  width: 100%;
}

.we-box img {
  width: 60rem;
  border-radius: 5px;
  box-shadow: 3px 5px 10px 3px rgba(102, 102, 102, 0.5);
}

.we-box .step {
  width: 60rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.we-box .step h1 {
  font-family: "Merriweather", serif;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.we-box .step span {
  font-size: 4.1rem;
  font-weight: 300;
  color: black;
}

.we-box .step p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.7rem;
  letter-spacing: 0.5px;
}

.we-box .step .bttns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.we-box .step .bttns a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.we-box .step .bttns .inquiryBtn {
  width: 48%;
}

.we-box .step .bttns .inquiryBtn button {
  width: 100%;
  height: 5rem;
  background-color: rgb(38, 38, 38);
  color: white;
}

.we-box .step .bttns .inquiryBtn button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid rgb(38, 38, 38); */
  z-index: -1;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.we-box .step .bttns .inquiryBtn button:hover,
.we-box .step .bttns .inquiryBtn button:focus,
.we-box .step .bttns .inquiryBtn button:hover a {
  color: rgb(38, 38, 38);
}

.we-box .step .bttns .inquiryBtn button:hover::before,
.we-box .step .bttns .inquiryBtn button:focus::before {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

.we-box .step .bttns button {
  width: 48%;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

.we-box .step .bttns button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(38, 38, 38);
  /* border: 1px solid rgb(38, 38, 38); */
  z-index: -1;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.we-box .step .bttns button:hover,
.we-box .step .bttns button:focus,
.we-box .step .bttns button:hover a {
  color: rgb(255, 255, 255);
}

.we-box .step .bttns button:hover::before,
.we-box .step .bttns button:focus::before {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

@media screen and (max-width: 768px) {
  .we-boxContainer {
    gap: 6rem;
  }

  .weddingProcessContainer .header h1 {
    font-size: 4rem;
  }

  .we-box {
    gap: 4rem;
  }

  .we-box img {
    width: 45rem;
  }

  .we-box .step {
    width: 45rem;
    gap: 1.5rem;
  }

  .we-box .step h1 {
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .we-box .step span {
    font-size: 3.4rem;
    vertical-align: middle;
  }
  
  .we-box .step p {
    font-size: 1.8rem;
  }

  .we-box .step .bttns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media screen and (max-width: 540px) {
  .we-boxContainer {
    gap: 6rem;
  }

  .weddingProcessContainer .header::before {
    width: 20rem;
  }

  .weddingProcessContainer .header h1 {
    font-size: 3rem;
  }

  .we-box {
    gap: 4rem;
  }

  .we-box img {
    width:35rem;
  }

  .we-box .step {
    width: 35rem;
    gap: 1.5rem;
  }

  .we-box .step h1 {
    font-size: 2.5rem;
  }
  
  .we-box .step span {
    font-size: 3rem;
  }
  
  .we-box .step p {
    font-size: 1.6rem;
  }

  .we-box .step .bttns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .we-box .step .bttns button {
    font-size: 1.35rem;
    width: 60%;
  }

  .we-box .step .bttns .inquiryBtn {
    width: 60%;
  }
  
  .we-box .step .bttns .inquiryBtn button {
    width: 100%;
    height: 5rem;
    background-color: rgb(38, 38, 38);
    color: white;
    font-size: 1.45rem;
  }
}

@media screen and (max-width: 414px) {
  .we-boxContainer {
    gap: 4rem;
  }

  .weddingProcessContainer .header::before {
    width: 17rem;
  }

  .weddingProcessContainer .header h1 {
    font-size: 2.5rem;
  }

  .we-box {
    gap: 4rem;
  }

  .we-box img {
    width:30rem;
  }

  .we-box .step {
    width: 30rem;
    gap: 1.5rem;
  }

  .we-box .step h1 {
    font-size: 2.5rem;
  }
  
  .we-box .step span {
    font-size: 3rem;
  }
  
  .we-box .step p {
    font-size: 1.6rem;
  }

  .we-box .step .bttns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .we-box .step .bttns button {
    font-size: 1.35rem;
    width: 75%;
  }

  .we-box .step .bttns .inquiryBtn {
    width: 75%;
  }
  
  .we-box .step .bttns .inquiryBtn button {
    width: 100%;
    height: 5rem;
    background-color: rgb(38, 38, 38);
    color: white;
    font-size: 1.45rem;
  }
}