* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

:root {
  font-family: "Merriweather", serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 62.5%;
  --background-color: #ffffff;
  --primary-text-color: #0a0a0a;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

[data-theme="dark"] {
  --background-color: #131313;
  --foreground-color: #567aff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
}

[data-theme="dark"] .sort-filter,
.filter-panel {
  background-color: var(--background-color);
  border-bottom-color: 1px solid var(--primary-text-color);
  border-top-color: 1px solid var(--primary-text-color);
}

[data-theme="dark"] .sort-filter .filter {
  border-left: 1px solid var(--primary-text-color);
  border-right: 1px solid var(--primary-text-color);
}

[data-theme="dark"] .filter-panel .filter-body .filter-item {
  color: var(--primary-text-color);
}

[data-theme="dark"] .filter-panel .filter-body .filter-item:hover {
  box-shadow: inset 0 -1px 0 var(--primary-text-color);
  font-weight: 500;
}

[data-theme="dark"] .filter-panel .filter-body .filter-item.active {
  box-shadow: inset 0 -1px 0 var(--primary-text-color);
  font-weight: bold;
}

[data-theme="dark"] .sidebar,
.userDetails {
  background-color: var(--background-color);
}

[data-theme="dark"] .userPanelConatiner {
  background-color: var(--background-color);
}

[data-theme="dark"] .adminContainer form {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

[data-theme="dark"] .createProductButton,
.sidebarButton {
  color: var(--primary-text-color);
}

[data-theme="dark"] .wishlist-container {
  color: var(--primary-text-color);
}

[data-theme="dark"] .wishlist-container .wishListHeader h2 {
  color: var(--primary-text-color);
}

[data-theme="dark"]
  .wishlist-container
  .wishListBox
  .productsBox
  .info
  p:first-child {
  color: var(--primary-text-color);
}

[data-theme="dark"]
  .wishlist-container
  .wishListBox
  .productsBox
  .info
  p:nth-child(2n) {
  color: var(--primary-text-color);
}

[data-theme="dark"]
  .wishlist-container
  .wishListBox
  .productsBox
  .deleteButton
  button {
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
}

[data-theme="dark"]
  .wishlist-container
  .wishListBox
  .productsBox
  .deleteButton
  button:hover {
  background-color: var(--primary-text-color);
  color: var(--background-color);
  border: var(--primary-text-color);
}

[data-theme="dark"]
  .wishlist-container
  .wishListBox
  .productsBox
  .imageBox
  .addToCart {
  color: var(--secondary-text-color);
  background-color: var(--primary-text-color);
}

[data-theme="dark"]
  .wishlist-container
  .wishListBox
  .productsBox
  .imageBox
  .addToCart:hover {
  color: var(--background-color);
  background-color: #b83050;
}

[data-theme="dark"] .shopContainer .productsBox .info p:first-child,
.shopContainer .productsBox .info p:nth-child(2) {
  color: var(--primary-text-color);
}

[data-theme="dark"] .pagebtn .prevContainer .prevText,
.pagebtn .nextContainer .nextText {
  color: var(--primary-text-color);
}

[data-theme="dark"] .pagebtn .next-prev .prev,
.pagebtn .next-prev .next,
.pagebtn .next-prev p {
  color: var(--primary-text-color);
}

[data-theme="dark"] .searchContainer,
.searchContainer .searchBox,
.searchContainer .searchBox .searchResults {
  background-color: var(--background-color);
}

[data-theme="dark"] .searchContainer .searchBox .searchResults .emptyMessage,
.searchContainer .searchBox .header h1 {
  color: var(--primary-text-color);
}

[data-theme="dark"] .cart-container .secure-return-logged .logged p,
.return p,
.secure p,
.cart-container .paymentContainer .shipment-subTotal-vat .subTotal p,
.shipping p,
.vat p,
.cart-container .totalPayment-Buttons .totalPayment h2,
.cart-container .totalPayment-Buttons .totalPayment p,
.cart-container .totalPayment-Buttons .paymentButtons p,
.cart-container .secure-return-logged .logged svg,
.return svg,
.secure svg,
.cart-container .itemsContainer .productsBox .info p:first-child,
.cart-container .itemsContainer .productsBox .info p:nth-child(2n),
.cart-container .itemsContainer .productsBox .info p:nth-child(3n),
.cart-container .itemsContainer .productsBox .incDecDelete .incDec p {
  color: var(--primary-text-color);
}

[data-theme="dark"] .cart-container .itemsContainer .productsBox,
.cart-container .paymentContainer {
  border: 1px solid var(--primary-text-color);
}

[data-theme="dark"] .rightsAndReserved .socialPlatforms .platform {
  color: var(--primary-text-color);
}

[data-theme="dark"] .user-panel,
.editProfileForm {
  background-color: var(--background-color);
}

[data-theme="dark"] .editProfileForm h1,
.editProfileForm label {
  color: var(--primary-text-color);
}

[data-theme="dark"] .user-panel::before {
  border: 15px solid #698474;
}

[data-theme="dark"] .invoiceBox .invoicePrice p,
.invoiceBox .invoiceProduct,
.invoiceBox svg {
  color: #44594c;
}

[data-theme="dark"] .we-box .step .bttns button:nth-child(2n) {
  background-color: var(--primary-text-color);
}

[data-theme="dark"] .we-box .step .bttns .weddingGalleryBtn {
  background-color: var(--primary-text-color);
}

[data-theme="dark"] .roots .index .offer p {
  color: var(--primary-text-color);
}

/* -------------- Form Dark and Light Mode Styles -------------- */

[data-theme="dark"] form .box .textField label,
form .box .textField-preferred legend,
form .box .textField-wedding legend,
form .box .textField-wedding fieldset .formControl label,
form .box .textField-hear label {
  color: var(--primary-text-color);
}

[data-theme="dark"] form .submitButton .button {
  background-color: #567aff;
}

[data-theme="dark"] form .submitButton .button:hover {
  background-color: #3a55b7;
}

/* -------------Most Popular Products-------------- */

[data-theme="dark"] .mostPopularContainer .popularHeader::before {
  background-color: var(--primary-text-color);
}

/* ----------------Support---------------------------- */

[data-theme="dark"] .support-container {
  background-color: var(--background-color);
  border-top: 1px solid var(--primary-text-color);
  border-bottom: 1px solid var(--primary-text-color);
  margin-bottom: 5rem;
}

/* -----------------Our Roots----------------- */

[data-theme="dark"] .roots .index .offer span {
  color: var(--primary-text-color);
}

/* -----------------Wedding Process------------ */

[data-theme="dark"] .we-box .step span {
  color: var(--primary-text-color);
}

/* ----------------Orders------------------ */

[data-theme="dark"] .order-container h1 {
  color: var(--primary-text-color);
}

/* -----------------Contact---------------- */

.email-address-phone span {
  color: var(--primary-text-color);
}

.email-address-phone h2::before {
  background-color: var(--primary-text-color);
}

.inputValidation {
  color: rgb(255, 59, 59);
}

/* -----------------Admin Panel----------------------- */

[data-theme="dark"] .adminContainer .adminHeader h1 {
  color: var(--primary-text-color);
}

/* ------------------------Footer----------------------- */

[data-theme="dark"] .footerBox .header {
  color: var(--primary-text-color);
}
