.weddingEventsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.weddingEventsContainer .backGroundImage {
  width: 100%;
  height: 40rem;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/wedding/weddingEvents/image1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.weddingEventsContainer .backGroundImage::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.weddingEventsContainer .header {
  width: 100%;
  position: absolute;
  top: 30rem;
  left: 0;
}

.weddingEventsContainer .header::before {
  content: "";
  width: 20rem;
  height: 0.1rem;
  background-color: white;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.weddingEventsContainer .header h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* ------------Events------------- */

.eventBoxContainer {
  padding-top: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13rem;
  width: 100%;
  position: relative;
}

/* -----------Box1----------- */
.eventBoxContainer .box1 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 100%;
  gap: 5rem;
}

.eventBoxContainer .box1 .infoBox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 60rem;
}

.eventBoxContainer .box1 .infoBox h2 {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-align: end;
  color: #698474;
}

.eventBoxContainer .box1 .infoBox p {
  font-size: 1.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 3rem;
  text-align: end;
}

.eventBoxContainer .box1 .infoBox p span {
  color: black;
  font-size: 1.9rem;
  text-transform: lowercase;
}

.eventBoxContainer .box1 .imageBox1 img {
  width: 60rem;
  height: 35rem;
  border-radius: 5px;
}

.eventBoxContainer .box1 .imageBox1 {
  width: 60rem;
  height: 35rem;
  border-radius: 5px;
  position: relative;
}

.eventBoxContainer .box1 .imageBox1::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 25px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/wedding/weddingEvents/image2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  opacity: 0.2;
  z-index: -1;
}

/* ---------------Box2--------------- */

.eventBoxContainer .box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5rem;
}

.eventBoxContainer .box2 .infoBox2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 60rem;
}

.eventBoxContainer .box2 .infoBox2 .offers{
  display: flex;
  align-items: center;
  gap: 8rem;
}

.eventBoxContainer .box2 .infoBox2 h2 {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-align: start;
  color: #698474;
}

.eventBoxContainer .box2 .infoBox2 ul {
  font-size: 1.9rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 3rem;
  text-align: start;
  list-style: none;
}

.eventBoxContainer .box2 .imageBox2 img {
  width: 60rem;
  height: 35rem;
  border-radius: 5px;
}

.eventBoxContainer .box2 .imageBox2 {
  width: 60rem;
  height: 35rem;
  border-radius: 5px;
  position: relative;
}

.eventBoxContainer .box2 .imageBox2::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 25px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/wedding/weddingEvents/image3.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  opacity: 0.2;
  z-index: -1;
}

/* --------------Box3-------------- */

.eventBoxContainer .box3 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 100%;
  gap: 5rem;
}

.eventBoxContainer .box3 .infoBox3 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 60rem;
}

.eventBoxContainer .box3 .infoBox3 h2 {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-align: end;
  color: #698474;
}

.eventBoxContainer .box3 .infoBox3 p {
  font-size: 1.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 3rem;
  text-align: end;
}

.eventBoxContainer .box3 .infoBox3 p span {
  color: black;
  font-size: 1.9rem;
  text-transform: lowercase;
}

.eventBoxContainer .box3 .infoBox3 .orderButtonBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.eventBoxContainer .box3 .infoBox3 .orderButtonBox button {
  width: 30rem;
  height: 5rem;
  border: none;
  border-radius: 5px;
  background-color: #698474;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.eventBoxContainer .box3 .infoBox3 .orderButtonBox button:hover    {
  background-color: #2a4536;
}

.eventBoxContainer .box3 .imageBox3 img {
  width: 60rem;
  height: 35rem;
  border-radius: 5px;
}

.eventBoxContainer .box3 .imageBox3 {
  width: 60rem;
  height: 35rem;
  border-radius: 5px;
  position: relative;
}

.eventBoxContainer .box3 .imageBox3::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 25px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/wedding/weddingEvents/image3.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  opacity: 0.2;
  z-index: -1;
}

/* -----------------Past Events-------------- */

.pastEventsContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
}

.pastEventsContainer .past-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.pastEventsContainer .past-header h2 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #2a4536;
}

.pastEventBoxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.pastEventsContainer .pastEventBox1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.pastEventsContainer .pastEventBox1 img {
  width: 40rem;
  border-radius: 3px;
}

.pastEventsContainer .pastEventBox2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.pastEventsContainer .pastEventBox2 img {
  width: 40rem;
  height: 60rem;
  border-radius: 3px;
}

.pastEventsContainer .pastEventBox3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.pastEventsContainer .pastEventBox3 img {
  width: 40rem;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .weddingEventsContainer .header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .eventBoxContainer .box1 .imageBox1 {
    width: 45rem;
    height: 30rem;
    border-radius: 5px;
    position: relative;
  }

  .eventBoxContainer .box1 .imageBox1 img {
    width: 45rem;
    height: 30rem;
    border-radius: 5px;
  }

  .eventBoxContainer .box1 .infoBox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50rem;
  }

  .eventBoxContainer .box1 .infoBox h2 {
    font-size: 2rem;
  }
  
  .eventBoxContainer .box1 .infoBox p {
    font-size: 1.7rem;
  }

  /* ----------------------------------- */

  .eventBoxContainer .box2 .imageBox2 {
    width: 45rem;
    height: 30rem;
    border-radius: 5px;
    position: relative;
  }

  .eventBoxContainer .box2 .imageBox2 img {
    width: 45rem;
    height: 30rem;
    border-radius: 5px;
  }

  .eventBoxContainer .box2 .infoBox2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50rem;
  }

  .eventBoxContainer .box2 .infoBox2 h2 {
    font-size: 2rem;
  }
  
  .eventBoxContainer .box2 .infoBox2 p {
    font-size: 1.7rem;
  }

  /* ---------------------------------------- */

  .eventBoxContainer .box3 .imageBox3 {
    width: 45rem;
    height: 30rem;
    border-radius: 5px;
    position: relative;
  }

  .eventBoxContainer .box3 .imageBox3 img {
    width: 45rem;
    height: 30rem;
    border-radius: 5px;
  }

  .eventBoxContainer .box3 .infoBox3 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50rem;
  }

  .eventBoxContainer .box3 .infoBox3 h2 {
    font-size: 2rem;
  }
  
  .eventBoxContainer .box3 .infoBox3 p {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 540px) {
  .weddingEventsContainer .header h1 {
    font-size: 3rem;
  }

  .eventBoxContainer .box1 .imageBox1 {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
    position: relative;
  }

  .eventBoxContainer .box1 .imageBox1 img {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
  }

  .eventBoxContainer .box1 .infoBox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 35rem;
  }

  .eventBoxContainer .box1 .infoBox h2 {
    font-size: 1.6rem;
  }
  
  .eventBoxContainer .box1 .infoBox p {
    font-size: 1.5rem;
  }

  /* ----------------------------------- */

  .eventBoxContainer .box2 .imageBox2 {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
    position: relative;
  }

  .eventBoxContainer .box2 .imageBox2 img {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
  }

  .eventBoxContainer .box2 .infoBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 35rem;
  }

  .eventBoxContainer .box2 .infoBox2 h2 {
    font-size: 1.7rem;
  }
  
  .eventBoxContainer .box2 .infoBox2 p {
    font-size: 1.5rem;
  }

  .eventBoxContainer .box2 .infoBox2 .offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .eventBoxContainer .box2 .infoBox2 .offers li {
    font-size: 1.6rem;
  }

  /* ---------------------------------------- */

  .eventBoxContainer .box3 .imageBox3 {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
    position: relative;
  }

  .eventBoxContainer .box3 .imageBox3 img {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
  }

  .eventBoxContainer .box3 .infoBox3 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 35rem;
  }

  .eventBoxContainer .box3 .infoBox3 h2 {
    font-size: 1.7rem;
  }
  
  .eventBoxContainer .box3 .infoBox3 p {
    font-size: 1.5rem;
  }

  .eventBoxContainer .box3 .infoBox3 .orderButtonBox button {
    width: 25rem;
    height: 4.5rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 414px) {
  .weddingEventsContainer .header h1 {
    font-size: 2.7rem;
  }

  .eventBoxContainer .box1 .imageBox1 {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
    position: relative;
  }

  .eventBoxContainer .box1 .imageBox1 img {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
  }

  .eventBoxContainer .box1 .infoBox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 35rem;
  }

  .eventBoxContainer .box1 .infoBox h2 {
    font-size: 1.6rem;
  }
  
  .eventBoxContainer .box1 .infoBox p {
    font-size: 1.5rem;
  }

  /* ----------------------------------- */

  .eventBoxContainer .box2 .imageBox2 {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
    position: relative;
  }

  .eventBoxContainer .box2 .imageBox2 img {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
  }

  .eventBoxContainer .box2 .infoBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 35rem;
  }

  .eventBoxContainer .box2 .infoBox2 h2 {
    font-size: 1.7rem;
  }
  
  .eventBoxContainer .box2 .infoBox2 p {
    font-size: 1.5rem;
  }

  .eventBoxContainer .box2 .infoBox2 .offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .eventBoxContainer .box2 .infoBox2 .offers li {
    font-size: 1.6rem;
  }

  /* ---------------------------------------- */

  .eventBoxContainer .box3 .imageBox3 {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
    position: relative;
  }

  .eventBoxContainer .box3 .imageBox3 img {
    width: 35rem;
    height: 30rem;
    border-radius: 5px;
  }

  .eventBoxContainer .box3 .infoBox3 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 35rem;
  }

  .eventBoxContainer .box3 .infoBox3 h2 {
    font-size: 1.7rem;
  }
  
  .eventBoxContainer .box3 .infoBox3 p {
    font-size: 1.5rem;
  }

  .eventBoxContainer .box3 .infoBox3 .orderButtonBox button {
    width: 25rem;
    height: 4.5rem;
    font-size: 1.25rem;
  }
}

