.support-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15rem;
  padding: 2rem;
  /* background-color: #f9f9f9; */
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 1px 1px 10px rgba(12, 12, 12, 0.1);
  margin-bottom: 5rem;
}

.support-item {
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.support-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #698474;
}

.support-item p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #698474;
  max-width: 200px;
}

@media screen and (max-width: 1024px) {
  .support-container {
    gap: 5rem;
  }

  .support-item {
    width: 15rem;
    height: 12rem;
  }

  .support-icon {
    font-size: 3rem;
  }

  .support-item p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .support-container {
    gap: 5rem;
  }

  .support-item {
    width: 15rem;
    height: 12rem;
  }

  .support-icon {
    font-size: 3rem;
  }

  .support-item p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 414px) {
  .support-container {
    gap: 5rem;
  }

  .support-item {
    width: 15rem;
    height: 12rem;
  }

  .support-icon {
    font-size: 3rem;
  }

  .support-item p {
    font-size: 1.2rem;
  }
}
