.loginModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loginContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/home-images/image3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  width: 420px;
  height: 60rem;
  max-width: 100%;
  text-align: center;
  z-index: 20000000;
}

.loginContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  z-index: 0;
}

.loginContainer h2 {
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: 300;
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
  color: white;
  z-index: 111;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  z-index: 1;
}

.loginContainer label {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: white;

}

.loginContainer input {
  padding: 8px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 3.5rem;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.emailContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.passwordContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.togglePasswordIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  font-size: 1.7rem;
  color: rgba(53, 53, 53, 0.609);
}

.loginContainer input::placeholder {
  color: rgb(124, 124, 124);
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.loginContainer button {
  z-index: 111;
}

.loginButton {
  width: 15rem;
  height: 3.5rem;
  border-radius: 3px;
  border: none;
  background-color: rgba(193, 83, 19, 1);
  color: white;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 3rem;
  cursor: pointer;
}

.loginButton:hover {
  background-color: white;
  color: rgba(193, 83, 19, 1);
}

.closeLoginButton {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  background-color: rgba(193, 83, 19, 1);
  color: white;
  font-size: 1.7rem;
}

.loginContainer p {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.7px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-top: 1.5rem;
}

.loginToRegister {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: rgba(193, 83, 19, 1);
  letter-spacing: 0.7px;
  margin-left: 0.2rem;
}

@media (max-width: 1024px) {
  .loginContainer {
    width: 350px;
    height: 60rem;
  }

  .loginContainer input {
    padding: 8px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 28rem;
    height: 3.5rem;
    border: none;
    outline: 1px solid black;
    border-radius: 2px;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }

  .closeLoginButton {
    position: absolute;
    top: -1.7rem;
    right: -1.7rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    background-color: rgba(193, 83, 19, 1);
    color: white;
    font-size: 1.5rem;
  }
}

@media (max-width: 820px) {
  .loginContainer {
    width: 330px;
    height: 60rem;
  }

  .loginContainer input {
    padding: 8px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 25rem;
    height: 3.5rem;
    border: none;
    outline: 1px solid black;
    border-radius: 2px;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }

  .loginButton {
    width: 12rem;
    height: 3.5rem;
  }

  .closeLoginButton {
    position: absolute;
    top: -1.7rem;
    right: -1.7rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    background-color: rgba(193, 83, 19, 1);
    color: white;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .loginContainer {
    width: 300px;
    height: 50rem;
  }

  .loginContainer input {
    padding: 8px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 22rem;
    height: 3.5rem;
    border: none;
    outline: 1px solid black;
    border-radius: 2px;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }

  .loginButton {
    width: 12rem;
    height: 3.5rem;
  }

  .closeLoginButton {
    position: absolute;
    top: -1.7rem;
    right: -1.7rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    background-color: rgba(193, 83, 19, 1);
    color: white;
    font-size: 1.5rem;
  }
}

@media (max-width: 430px) {
  .loginContainer {
    width: 280px;
    height: 45rem;
  }

  .loginContainer input {
    padding: 8px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 22rem;
    height: 3.5rem;
    border: none;
    outline: 1px solid black;
    border-radius: 2px;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }

  .loginButton {
    width: 12rem;
    height: 3.5rem;
  }

  .closeLoginButton {
    position: absolute;
    top: -1.7rem;
    right: -1.7rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    background-color: rgba(193, 83, 19, 1);
    color: white;
    font-size: 1.5rem;
  }
}
