.ourRootsContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 45rem;
  padding-bottom: 5rem;
  /* background-color: rgb(248, 248, 248); */
  position: relative;
}

.ourRootsContainer .backgroundImage {
  width: 100%;
  height: 45rem;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/ourRootsImage/image3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.ourRootsContainer .backgroundImage::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.ourRootsContainer .header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 20rem; */
  z-index: 1;
  position: absolute;
  top: 33rem;
}

.ourRootsContainer .header::before {
  content: "";
  width: 20rem;
  height: 0.1rem;
  background-color: white;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.ourRootsContainer .header h1 {
  font-family: "Merriweather", serif;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.ourRootsImage {
  z-index: 1;
  padding-top: 10rem;
}

.ourRootsImage img {
  width: 70rem;
  border-radius: 5px;
}

.roots {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap-reverse; */
  gap: 3rem;
}

.roots .index {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 6rem;
  width: 70%;
}

.roots .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: #0a0a0a;
}

.roots .logo img {
  width: 20rem;
}

.roots .index p:nth-child(1),
.roots .index p:nth-child(3),
.roots .index p:nth-child(5),
.roots .index p:nth-child(7),
.roots .index p:nth-child(9),
.roots .index p:nth-child(11) {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  letter-spacing: 1px;
  line-height: 5rem;
  font-weight: 300;
}

.roots .index .offer span {
  font-size: 1.8rem;
  font-weight: 400;
  color: #0a0a0a;
}

.roots .index p:last-child {
  font-size: 2rem;
  font-weight: 400;
  position: relative;
}

.roots .index .offer p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;
  color: black;
}

.roots .index p {
  font-size: clamp(1.4rem, 1.5rem + (0.5vw), 1.6rem);
  font-weight: 300;
  margin-top: 1rem;
  letter-spacing: 0.6px;
  line-height: 2.5rem;
  text-align: center;
}

.roots .index a {
  color: #759a84;
  text-decoration: none;
  font-weight: 500;
}

.roots .index a:hover {
  text-decoration: underline;
}

.rootImages {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 3rem;
}

.rootImages img {
  width: 35rem;
  height: 45rem;
  opacity: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  animation: slideInFromBottom 1.3s ease-out forwards;
}

.roots .image1 img {
  height: 42.5rem;
}

.roots .image2 img {
  height: 41.5rem;
}

.roots .image3 img {
  height: 42rem;
}

.rootImages .image1,
.image2,
.image3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.rootImages .image1::before,
.image2::before,
.image3::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  height: 65%;
}

.rootImages .image1::before {
  background-color: hsla(16, 39%, 43%, 0.7);
}

.rootImages .image2::before {
  background-color: rgba(51, 44, 34, 0.7);
}

.rootImages .image3::before {
  background-color: hsla(69, 9%, 68%, 0.7);
}

.rootImages .socialContacts {
  font-size: 2.7rem;
  color: white;
  position: absolute;
  display: flex;
  gap: 1rem;
  bottom: 1rem;
  right: 1rem;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
  z-index: 1;
}

.rootImages .socialContacts .socialIcon {
  cursor: pointer;
  color: white;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .rootImages {
    gap: 2rem;
  }

  .rootImages img {
    width: 27rem;
  }
}

@media screen and (max-width: 853px) {
  .ourRootsContainer {
    padding-top: 33rem;
    padding-bottom: 5rem;
  }

  .ourRootsContainer .backgroundImage {
    height: 30rem;
  }

  .ourRootsContainer .header {
    top: 20rem;
  }

  .ourRootsContainer .header::before {
    width: 15rem;
  }

  .ourRootsContainer .header h1 {
    font-size: 4.5rem;
  }
  
  .roots .index {
    margin-top: 2rem;
  }

  .roots .index p:nth-child(1),
  .roots .index p:nth-child(3),
  .roots .index p:nth-child(5),
  .roots .index p:nth-child(7),
  .roots .index p:nth-child(9),
  .roots .index p:nth-child(11) {
    font-size: 4rem;
  }

  .roots .index .offer p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: black;
  }

  .roots .index p {
    font-size: clamp(1.4rem, 1.5rem + (0.5vw), 1.7rem);
    font-weight: 300;
    margin-top: 1rem;
    letter-spacing: 0.6px;
    line-height: 2.5rem;
    text-align: center;
  }

  .rootImages {
    gap: 1.5rem;
  }

  .rootImages img {
    width: 22rem;
  }

  .rootImages .image1,
  .image2,
  .image3 {
    height: 22rem;
  }

  .rootImages .image1 img,
  .rootImages .image2 img,
  .rootImages .image3 img {
    height: 22rem;
  }

  .rootImages .socialContacts {
    font-size: 2rem;
    color: white;
    position: absolute;
    display: flex;
    gap: 1rem;
    bottom: 1rem;
    right: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    z-index: 1;
  }
}

@media screen and (max-width: 820px) {
  .ourRootsContainer {
    padding-top: 33rem;
    padding-bottom: 5rem;
  }

  .ourRootsContainer .backgroundImage {
    height: 30rem;
  }

  .ourRootsContainer .header {
    top: 20rem;
  }

  .ourRootsContainer .header::before {
    width: 15rem;
  }

  .ourRootsContainer .header h1 {
    font-size: 4.5rem;
  }
  
  .roots .index {
    margin-top: 2rem;
  }

  .roots .index p:nth-child(1),
  .roots .index p:nth-child(3),
  .roots .index p:nth-child(5),
  .roots .index p:nth-child(7),
  .roots .index p:nth-child(9),
  .roots .index p:nth-child(11) {
    font-size: 4rem;
  }

  .roots .index .offer p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: black;
  }

  .roots .index p {
    font-size: clamp(1.4rem, 1.5rem + (0.5vw), 1.7rem);
    font-weight: 300;
    margin-top: 1rem;
    letter-spacing: 0.6px;
    line-height: 2.5rem;
    text-align: center;
  }

  .rootImages {
    gap: 1.5rem;
  }

  .rootImages img {
    width: 22rem;
  }

  .rootImages .image1,
  .image2,
  .image3 {
    height: 22rem;
  }

  .rootImages .image1 img,
  .rootImages .image2 img,
  .rootImages .image3 img {
    height: 22rem;
  }

  .rootImages .socialContacts {
    font-size: 2rem;
    color: white;
    position: absolute;
    display: flex;
    gap: 1rem;
    bottom: 1rem;
    right: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .ourRootsContainer {
    padding-top: 33rem;
    padding-bottom: 5rem;
  }

  .ourRootsContainer .backgroundImage {
    height: 30rem;
  }

  .ourRootsContainer .header {
    top: 20rem;
  }

  .ourRootsContainer .header::before {
    width: 20rem;
  }

  .ourRootsContainer .header h1 {
    font-size: 3.5rem;
  }
  
  .roots .index {
    margin-top: 2rem;
  }

  .roots .index p:nth-child(1),
  .roots .index p:nth-child(3),
  .roots .index p:nth-child(5),
  .roots .index p:nth-child(7),
  .roots .index p:nth-child(9),
  .roots .index p:nth-child(11) {
    font-size: 3rem;
  }

  .roots .index .offer p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: black;
  }

  .roots .index p {
    font-size: clamp(1.4rem, 1.5rem + (0.5vw), 1.6rem);
    font-weight: 300;
    margin-top: 1rem;
    letter-spacing: 0.6px;
    line-height: 2.5rem;
    text-align: center;
  }

  .rootImages {
    gap: 1.5rem;
  }

  .rootImages img {
    width: 15rem;
  }

  .rootImages .image1,
  .image2,
  .image3 {
    height: 17rem;
  }

  .rootImages .image1 img,
  .rootImages .image2 img,
  .rootImages .image3 img {
    height: 17rem;
  }

  .rootImages .socialContacts {
    font-size: 2rem;
    color: white;
    position: absolute;
    display: flex;
    gap: 1rem;
    bottom: 1rem;
    right: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    z-index: 1;
  }
}

@media screen and (max-width: 540px) {
  .ourRootsContainer {
    padding-top: 33rem;
    padding-bottom: 5rem;
  }

  .ourRootsContainer .backgroundImage {
    height: 30rem;
  }

  .ourRootsContainer .header {
    top: 20rem;
  }

  .ourRootsContainer .header::before {
    content: "";
    width: 20rem;
    height: 0.1rem;
    background-color: white;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .ourRootsContainer .header h1 {
    font-family: "Merriweather", serif;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
  }

  .roots .index {
    margin-top: 2rem;
  }

  .roots .index p:nth-child(1),
  .roots .index p:nth-child(3),
  .roots .index p:nth-child(5),
  .roots .index p:nth-child(7),
  .roots .index p:nth-child(9),
  .roots .index p:nth-child(11) {
    font-size: 3rem;
  }

  .roots .index .offer p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: black;
  }

  .roots .index p {
    font-size: clamp(1.4rem, 1.5rem + (0.5vw), 1.6rem);
    font-weight: 300;
    margin-top: 1rem;
    letter-spacing: 0.6px;
    line-height: 2.5rem;
    text-align: center;
  }

  .rootImages {
    gap: 1.5rem;
  }

  .rootImages img {
    width: 15rem;
  }

  .rootImages .image1,
  .image2,
  .image3 {
    height: 17rem;
  }

  .rootImages .image1 img,
  .rootImages .image2 img,
  .rootImages .image3 img {
    height: 17rem;
  }

  .rootImages .socialContacts {
    font-size: 2rem;
    color: white;
    position: absolute;
    display: flex;
    gap: 1rem;
    bottom: 1rem;
    right: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    z-index: 1;
  }
}

@media screen and (max-width: 430px) {
  .ourRootsContainer {
    padding-top: 33rem;
    padding-bottom: 5rem;
  }

  .ourRootsContainer .backgroundImage {
    height: 30rem;
  }

  .ourRootsContainer .header {
    top: 20rem;
  }

  .ourRootsContainer .header::before {
    content: "";
    width: 20rem;
    height: 0.1rem;
    background-color: white;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .ourRootsContainer .header h1 {
    font-family: "Merriweather", serif;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
  }

  .roots .index {
    margin-top: 2rem;
  }

  .rootImages {
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  .rootImages img {
    width: 15rem;
  }

  .rootImages .image1,
  .image2,
  .image3 {
    height: 25rem;
  }

  .rootImages .image1 img,
  .rootImages .image2 img,
  .rootImages .image3 img {
    height: 25rem;
  }
}

@media screen and (max-width: 414px) {
  .ourRootsContainer {
    padding-top: 33rem;
    padding-bottom: 5rem;
  }

  .ourRootsContainer .backgroundImage {
    height: 30rem;
  }

  .ourRootsContainer .header {
    top: 20rem;
  }

  .ourRootsContainer .header::before {
    content: "";
    width: 20rem;
    height: 0.1rem;
    background-color: white;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .ourRootsContainer .header h1 {
    font-family: "Merriweather", serif;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
  }

  .roots .index {
    margin-top: 2rem;
  }

  .rootImages {
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  .rootImages img {
    width: 15rem;
  }

  .rootImages .image1,
  .image2,
  .image3 {
    height: 25rem;
  }

  .rootImages .image1 img,
  .rootImages .image2 img,
  .rootImages .image3 img {
    height: 25rem;
  }
}
