.searchContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
}

.searchContainer .backgroundImage {
  width: 100%;
  height: 40rem;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/search-images/image1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 3px 6px rgba(37, 37, 37, 0.7);
}

.searchContainer .backgroundImage::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.searchContainer .searchBox {
  padding-top: 55rem;
  padding-bottom: 15rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer .searchBox .header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.searchContainer .searchBox .header h1 {
  font-size: 3rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #5b5b5b;
}

.searchContainer .searchBox .searchBar {
  width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 3rem;
}

.searchContainer .searchBox .searchBar .searchInput {
  width: 80rem;
  height: 6rem;
  border: 1px solid #252525;
  border-radius: 30px;
  padding: 0 3rem;
  font-size: 1.7rem;
  font-family: "Merriweather", serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.searchContainer .searchBox .searchBar .searchInput::placeholder {
  font-weight: 300;
  color: hsla(0, 0%, 15%, 0.5);
}

.searchContainer .searchBox .searchBar .searchInput:focus {
  outline: 2px solid #80af81;
  border: none;
}

.searchContainer .searchBox .searchBar .searchInput:focus::placeholder {
  color: #80af81;
}

.searchContainer .searchBox .searchBar .searchInput:focus + .searchIcon {
  color: #80af81;
}

.searchContainer .searchBox .searchBar .searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3rem;
  font-size: 3rem;
  color: hsla(0, 0%, 15%, 0.4);
}

.searchContainer .searchBox .searchResults {
  margin-top: 1rem;
  width: 100%;
  background: #fff;
  border-radius: 0 0 10px 10px;
  z-index: 2;
  top: 65rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.searchContainer .searchBox .searchResults .emptyMessage {
  font-size: 4rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgba(37, 37, 37, 0.3);
  margin-top: 5rem;
}

.searchContainer .searchBox .searchResults .productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* border-bottom: 1px solid #eee; */
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.searchContainer .searchBox .searchResults .productItem .productItemImage {
  width: 100%;
  height: 100%;
}

.searchContainer .searchBox .searchResults .productItem .productItemImage::before {
  content: "";
  width: 30rem;
  height: 30rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.searchContainer .searchBox .searchResults .productItem img {
  width: 100%;
  height: 30rem;
  border-radius: 3px;
  position: relative;
}

.searchContainer .searchBox .searchResults .productItem p:first-child {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 1rem;
  text-transform: uppercase;
}

.searchContainer .searchBox .searchResults .productItem p:nth-child(2n) {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}

.searchContainer .searchBox .searchResults .productItem .searchAddToCartBtn {
  position: absolute;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 4rem;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 2;
  display: none; 
}

.searchContainer .searchBox .searchResults .productItem:hover .searchAddToCartBtn {
  display: block; 
  background-color: #80af81;
  color: white;
}

.searchContainer .searchBox .searchResults .productItem:hover .productItemImage::before {
  display: block;
}

@media screen and (max-width: 1024px) {
  .searchContainer .searchBox .header h1 {
    font-size: 3.5rem;
  }

  .searchContainer .searchBox .searchBar{
    width: 80rem;
  }

  .searchContainer .searchBox .searchBar .searchInput {
    width: 80rem;
    height: 8rem;
    border-radius: 40px;
    font-size: 1.9rem;
  }

  .searchContainer .searchBox .searchBar .searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4rem;
    font-size: 3rem;
    color: hsla(0, 0%, 15%, 0.4);
  }
}

@media screen and (max-width: 912px) {
  .searchContainer .backgroundImage {
    width: 100%;
    height: 30rem;
  }

  .searchContainer .searchBox {
    padding-top: 37rem;
  }

  .searchContainer .searchBox .header h1 {
    font-size: 2.7rem;
    text-align: center;
  }

  .searchContainer .searchBox .searchBar{
    width: 65rem;
  }

  .searchContainer .searchBox .searchBar .searchInput {
    width: 65rem;
    height: 7rem;
    font-size: 2rem;
  }

  .searchContainer .searchBox .searchBar .searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    font-size: 3rem;
    color: hsla(0, 0%, 15%, 0.4);
  }
}

@media screen and (max-width: 853px) {
  .searchContainer .backgroundImage {
    width: 100%;
    height: 30rem;
  }

  .searchContainer .searchBox {
    padding-top: 35rem;
  }

  .searchContainer .searchBox .header h1 {
    font-size: 2.7rem;
    text-align: center;
  }

  .searchContainer .searchBox .searchBar {
    width: 63rem;
  }
  .searchContainer .searchBox .searchBar .searchInput {
    width: 63rem;
    height: 6rem;
    font-size: 2rem;
    padding: 0 2.5rem;
  }

  .searchContainer .searchBox .searchBar .searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    font-size: 3rem;
    color: hsla(0, 0%, 15%, 0.4);
  }
}

@media screen and (max-width: 820px) {
  .searchContainer .backgroundImage {
    width: 100%;
    height: 30rem;
  }

  .searchContainer .searchBox {
    padding-top: 35rem;
  }

  .searchContainer .searchBox .header h1 {
    font-size: 2.7rem;
    text-align: center;
  }

  .searchContainer .searchBox .searchBar {
    width: 63rem;
  }
  .searchContainer .searchBox .searchBar .searchInput {
    width: 63rem;
    height: 6rem;
    font-size: 2rem;
    padding: 0 2.5rem;
  }

  .searchContainer .searchBox .searchBar .searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    font-size: 3rem;
    color: hsla(0, 0%, 15%, 0.4);
  }
}

@media screen and (max-width: 768px) {
  .searchContainer .backgroundImage {
    width: 100%;
    height: 30rem;
  }

  .searchContainer .searchBox {
    padding-top: 35rem;
  }

  .searchContainer .searchBox .header h1 {
    font-size: 2.7rem;
    text-align: center;
  }

  .searchContainer .searchBox .searchBar {
    width: 60rem;
  }

  .searchContainer .searchBox .searchBar .searchInput {
    width: 60rem;
    height: 6rem;
    font-size: 2rem;
    padding: 0 2.5rem;
  }

  .searchContainer .searchBox .searchBar .searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    font-size: 3rem;
    color: hsla(0, 0%, 15%, 0.4);
  }
}

@media screen and (max-width: 540px) {
  .searchContainer .backgroundImage {
    width: 100%;
    height: 30rem;
  }

  .searchContainer .searchBox {
    padding-top: 35rem;
  }

  .searchContainer .searchBox .header h1 {
    font-size: 2rem;
    text-align: center;
  }

  .searchContainer .searchBox .searchBar {
    width: 38rem;
  }
  .searchContainer .searchBox .searchBar .searchInput {
    width: 38rem;
    height: 4rem;
    font-size: 1.4rem;
    padding: 0 2rem;
  }

  .searchContainer .searchBox .searchBar .searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    font-size: 2rem;
    color: hsla(0, 0%, 15%, 0.4);
  }
}

@media screen and (max-width: 430px) {
  .searchContainer .searchBox {
    padding-top: 38rem;
  }

  .searchContainer .searchBox .header h1 {
    font-size: 2rem;
    text-align: center;
  }

  .searchContainer .searchBox .searchBar {
    width: 38rem;
  }
  .searchContainer .searchBox .searchBar .searchInput {
    width: 38rem;
    height: 4rem;
    font-size: 1.4rem;
    padding: 0 2rem;
  }

  .searchContainer .searchBox .searchBar .searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    font-size: 2rem;
    color: hsla(0, 0%, 15%, 0.4);
  }

  .searchContainer .searchBox .searchResults .emptyMessage {
    font-size: 3rem;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 414px) {
  .searchContainer .searchBox {
    padding-top: 38rem;
  }

  .searchContainer .searchBox .header h1 {
    font-size: 2rem;
    text-align: center;
  }

  .searchContainer .searchBox .searchBar {
    width: 35rem;
  }
  .searchContainer .searchBox .searchBar .searchInput {
    width: 35rem;
    height: 4rem;
    font-size: 1.4rem;
    padding: 0 2rem;
  }

  .searchContainer .searchBox .searchBar .searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    font-size: 2rem;
    color: hsla(0, 0%, 15%, 0.4);
  }

  .searchContainer .searchBox .searchResults .emptyMessage {
    font-size: 3rem;
    margin-top: 5rem;
  }
}
